<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.javray.KeyGuard" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>KeyGuard</name>
    <description>Cordova KeyGuard Android Plugin</description>
    <js-module name="KeyGuard" src="www/KeyGuard.js">
        <clobbers target="cordova.plugins.KeyGuard" />
    </js-module>
    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="KeyGuard" >
            <param name="android-package" value="com.javray.cordova.plugin.KeyGuard"/>
        </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
      </config-file>
      <source-file src="src/android/KeyGuard.java" target-dir="src/com/javray/cordova/plugin/KeyGuard" />
    </platform>
</plugin>
